bin
obj
.vs/*
/*/obj/*
/*/obj/*/*
/*/bin/*
/*/bin/*/*
*/*/obj/*
*/*/obj/*/*
*/*/bin/*
*/*/bin/*/*
/*/.vs/*
/hw2/*.csv
/hw2/*.jpg
/project/DataCompressor/.vs/*
/project/DataCompressor.Test/Data/DirToCompress.dc
/project/DataCompressor/DataCompressor/DataCompressor.csproj.user
/project/DataCompressor.Program/DataCompressor.Program.csproj.user
/project/DataCompressor/DataCompressor.csproj.user
/project/TestResults/*
/project/DataCompressor.Test/DataCompressor.Test.csproj.user
/DataCompressor.Program/DataCompressor.Program.csproj.user
/DataCompressor.Program/DataCompressor.Program.csproj
/DataCompressor/DataCompressor.csproj.user
/CeskyRozhlasMiner.WebApp/service/CeskyRozhlasMiner.WebApp.Data/Migrations/*
/CeskyRozhlasMiner.WebApp/client/.cert/*
